/* .container {
    width: 450px;
} */

.todos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.form-control {
    margin-right: 8px;
}

li:not(:hover) > button {
    visibility: hidden;
}


input{
    width: 100%;
    height: 100%;
    padding: 5px;
    border: none; 
}